In [1]:
import pandas as pd
import os
import random
from tqdm import tqdm
import pickle
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
import matplotlib.pyplot as plt
import seaborn as sns

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
regenerate_context_data = True
sequence_augmentation = True
whole_session_context = False
model_test_run = False
data_autoencoder = False
pad_to_window_size = True
feat_engg = True

PATH_TO_LOAD = '../data/04_Merged'
if feat_engg:
    combined_context_path = '../data/06_context_feat_engg/data_featue_engineering.csv'
    augmentation_folder = 'featengg/' if sequence_augmentation else 'non_aug/'
else:
    combined_context_path = '../data/05_Interaction_Sequences/context.csv'
    augmentation_folder = 'fix/' if sequence_augmentation else 'non_aug/'

window = 30 #seconds

base_path = '../datasets/sequential/'
if model_test_run:
    augmentation_folder = 'test/aug/' if sequence_augmentation else 'test/non_aug/'

sequence_context_path = f'{base_path}{augmentation_folder}parameters/sequence_context.csv'
parameter_path = f'{base_path}{augmentation_folder}parameters'
train_session_path = f'{base_path}{augmentation_folder}parameters/train_sessions.pkl'
test_session_path = f'{base_path}{augmentation_folder}parameters/test_sessions.pkl'
train_dynamic_context_path = f'{base_path}{augmentation_folder}dynamic_context/train.csv'
test_dynamic_context_path = f'{base_path}{augmentation_folder}dynamic_context/test.csv'
train_static_context_path = f'{base_path}{augmentation_folder}static_context/train.csv'
test_static_context_path = f'{base_path}{augmentation_folder}static_context/test.csv'
train_sequence_path = f'{base_path}{augmentation_folder}seq/train.tsv'
test_sequence_path = f'{base_path}{augmentation_folder}seq/test.tsv'
train_dense_static_context_path = f'{base_path}{augmentation_folder}dense_static_context/train.csv'
test_dense_static_context_path = f'{base_path}{augmentation_folder}dense_static_context/test.csv'

In [3]:
all_columns = ['index', 'avg_irradiation', 'steering_speed', 'temperature_out', 'hour',
       'month', 'odometer', 'light_sensor_rear', 'light_sensor_front',
       'temperature_in', 'KBI_speed', 'soc', 'ESP_speed', 'latitude',
       'longitude', 'seatbelt_codriver', 'seatbelt_rear_l', 'seatbelt_rear_m',
       'seatbelt_rear_r', 'CHA_ESP_drive_mode', 'CHA_MO_drive_mode',
       'rain_sensor', 'street_category', 'kickdown', 'altitude',
       'driving_program', 'datetime', 'session', 'Label', 'ID',
       'FunctionValue', 'domain', 'BeginTime', 'time_second',
       'distance_driven', 'ts_normalized', 'weekday']

selected = [ 'avg_irradiation', 'steering_speed', 'temperature_out', 'hour',
       'month', 'light_sensor_rear', 'light_sensor_front',
       'temperature_in', 'KBI_speed', 'soc', 'latitude',
       'longitude', 'seatbelt_codriver', 'seatbelt_rear_l',
       'seatbelt_rear_r', 'street_category', 'altitude',
       'datetime', 'session', 'time_second',
       'distance_driven', 'weekday'
]

bad_quality = ['CHA_ESP_drive_mode', 
             'CHA_MO_drive_mode',
             'rain_sensor',
             'kickdown',
             'ESP_speed',
             'seatbelt_rear_m',
            'driving_program',
            'ts_normalized'
             ]

dynamic_context_var = ['avg_irradiation', 'steering_speed', 'temperature_out', 
                       'light_sensor_rear', 'light_sensor_front', 
                       'temperature_in', 'KBI_speed', 
                       'latitude','longitude', 'altitude'] # todo remove these features in the future
if feat_engg:
       cat_static_context_var = ['car_id', 'month', 'weekday', 'hour', 'season', 'seatbelt_codriver', 'seatbelt_rear_l', # categorical static context
                            'seatbelt_rear_r',  'street_category']
else:
       cat_static_context_var = ['car_id', 'month', 'weekday', 'hour', 'seatbelt_codriver', 'seatbelt_rear_l', # categorical static context
                            'seatbelt_rear_r',  'street_category']
dense_static_context_var =  ['distance_driven_benchmark', 'soc', 'time_second']  # dense static context
status_static_context_var = ['ess_status', 'current_drive_mode', 'current_clima_mode', 'current_media_source', # status static context
                     'nav_guidance_status', 'proximity_to_parking_spot', 'phone_status',
                     'bluetooth_connected', 'phone_os',
                     'new_bluetooth_device_to_pair']
#todo i feel street category is higly fluctuating. might be better to ignore
vehicles = ['SEB880','SEB882','SEB883','SEB885','SEB888','SEB889']

In [4]:
if feat_engg:
    context_data = pd.read_csv(combined_context_path, parse_dates=['datetime'], index_col=0, low_memory=False)
else:
    context_data = pd.read_csv(combined_context_path, parse_dates=['datetime'], low_memory=False)
    
context_data_filtered = context_data[context_data['distance_driven'] != 0]
context_data_filtered['distance_driven_benchmark'] = context_data_filtered.groupby('session')['distance_driven'].transform(lambda x: x - x.min())
context_data['distance_driven_benchmark'] = context_data_filtered['distance_driven_benchmark']
context_data['distance_driven_benchmark'].fillna(0, inplace=True)
context_data

/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3113192703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  context_data_filtered['distance_driven_benchmark'] = context_data_filtered.groupby('session')['distance_driven'].transform(lambda x: x - x.min())

,session,datetime,Label,avg_irradiation,steering_speed,temperature_out,light_sensor_rear,light_sensor_front,temperature_in,KBI_speed,...,current_clima_mode,current_media_source,nav_guidance_status,proximity_to_parking_spot,phone_status,bluetooth_connected,season,phone_os,new_bluetooth_device_to_pair,distance_driven_benchmark
0,7.0,2022-09-07 20:08:33,NaN,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.00,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Autumn,unknown,no bluetooth device to pair,0.0
1,7.0,2022-09-07 20:08:34,NaN,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.00,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Autumn,unknown,no bluetooth device to pair,0.0
2,7.0,2022-09-07 20:08:35,NaN,0.000000,0.000000,25.0,0.0,0.000000,0.0,0.00,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Autumn,unknown,no bluetooth device to pair,0.0
3,7.0,2022-09-07 20:08:36,NaN,0.000000,0.000000,25.0,0.0,0.000000,27.0,0.00,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Autumn,unknown,no bluetooth device to pair,0.0
4,7.0,2022-09-07 20:08:36,NaN,0.000000,0.000000,25.0,0.0,0.000000,27.0,0.00,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Autumn,unknown,no bluetooth device to pair,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10124879,5399.0,2023-03-31 17:09:13,NaN,53.755324,0.000000,13.5,17600.0,6126.000000,28.5,92.48,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Spring,unconnected,no bluetooth device to pair,145.0
10124880,5399.0,2023-03-31 17:09:14,NaN,50.000000,0.000000,13.5,17200.0,5920.781157,28.5,93.12,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Spring,unconnected,no bluetooth device to pair,145.0
10124881,5399.0,2023-03-31 17:09:15,NaN,56.226313,15.000000,13.5,18000.0,5699.908827,28.5,93.44,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Spring,unconnected,no bluetooth device to pair,145.0
10124882,5399.0,2023-03-31 17:09:16,NaN,60.000000,0.000000,13.5,17600.0,5437.218229,28.5,93.76,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Spring,unconnected,no bluetooth device to pair,145.0
10124883,5399.0,2023-03-31 17:09:17,NaN,60.000000,1.394776,13.5,18000.0,5257.181922,28.5,94.08,...,unknown,media/selectedSource/unavailable,navi_inactive,no_parking_spot_closeby,unconnected,bluetooth_unconnected,Spring,unconnected,no bluetooth device to pair,145.0

In [5]:
context_data_list = []
for session in tqdm(context_data.session.unique().tolist()):
    context_data_curr = context_data[context_data['session']== session]
    context_data_curr['distance_driven_benchmark'] = context_data_curr['distance_driven_benchmark'].replace(0, method='ffill')
    context_data_list.append(context_data_curr)
context_data = pd.concat(context_data_list, axis=0)

  0%|          | 0/1704 [00:00<?, ?it/s]/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/540319804.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  context_data_curr['distance_driven_benchmark'] = context_data_curr['distance_driven_benchmark'].replace(0, method='ffill')
100%|██████████| 1704/1704 [00:16<00:00, 104.39it/s]

In [6]:

# import matplotlib.pyplot as plt

# # Assuming df is your DataFrame containing the 'session' and 'distance_driven_benchmark' columns

# # Group the DataFrame by 'session'
# grouped_df = context_data.groupby('session')

# # Iterate over each group and create line plots
# for session, group in grouped_df:
#     plt.figure(figsize=(4, 3)) 
#     plt.figure()  # Create a new figure for each session
#     plt.plot(group.index, group['time_second'], marker='o', linestyle='-')
#     plt.title(f'Distance Driven Benchmark for Session {session}')
#     plt.xlabel('Index')
#     plt.ylabel('Distance Driven Benchmark')
#     plt.grid(True)
#     plt.show()

In [7]:
with open(train_session_path, 'rb') as pickle_file:
    train_sessions = pickle.load(pickle_file)
with open(test_session_path, 'rb') as pickle_file:
    test_sessions = pickle.load(pickle_file)
context_data = context_data[context_data['session'].isin(train_sessions + test_sessions)]

train_sequence = pd.read_csv(train_sequence_path, sep='\t', low_memory=False)
test_sequence = pd.read_csv(test_sequence_path, sep='\t', low_memory=False)
selected_sequence = pd.concat([train_sequence, test_sequence], axis=0).sort_values(['session', 'window_id'])

# selected_sequence = pd.read_csv(sequence_context_path, parse_dates=['datetime'], index_col=0)
# selected_sequence['session'] = selected_sequence['session'].astype(int)
# min_datetime_indices = selected_sequence.groupby('session')['datetime'].idxmin()
# selected_sequence = selected_sequence.drop(min_datetime_indices)
# selected_sequence.reset_index(drop=True, inplace=True)

# selected_dfs = []
# for session in tqdm(selected_sequence['session'].unique().tolist()):
#     selected_sequence_curr = selected_sequence[selected_sequence['session']==session]
#     context_data_curr = context_data[context_data['session']==session]
#     context_data_curr = context_data_curr[context_data_curr['datetime']<=selected_sequence_curr['timestamp_target_interaction'].max()]
#     selected_dfs.append(context_data_curr)
# training_sequence_context = pd.concat(selected_dfs, axis=0)
training_sequence_context = context_data

In [8]:
print(len(context_data.session.unique().tolist()), 
      len(training_sequence_context.session.unique().tolist()))

1634 1634

In [9]:
if sequence_augmentation == True:
    augmented_frames = []
    for index, row in tqdm(selected_sequence.iterrows(), total=len(selected_sequence)):
        session = row['session']
        window_id = row['window_id']
        timestamp_target_interaction = row['timestamp_target_interaction']
        training_sequence_context_curr = training_sequence_context[(training_sequence_context['session'] == session) &
                                                    (training_sequence_context['datetime'] <= timestamp_target_interaction)].copy()
        if training_sequence_context_curr.empty:
            print(session, window_id)
        if not whole_session_context and window < len(training_sequence_context_curr):
                training_sequence_context_curr = training_sequence_context_curr.tail(window)
        training_sequence_context_curr['window_id'] = window_id
        augmented_frames.append(training_sequence_context_curr)
        # print(session, window_id, timestamp_target_interaction)
        # break
    training_sequence_context_augmented = pd.concat(augmented_frames, axis=0)
    context_data = training_sequence_context_augmented.reset_index(drop=True)
    context_data['wind_id'] = context_data.groupby(['session', 'window_id']).ngroup()
else:
    # if sequence_augmentation is set to false
    if not whole_session_context:
        context_data = training_sequence_context.groupby('session').tail(window)
    context_data = training_sequence_context.reset_index(drop=True)
    context_data['window_id'] = context_data.groupby('session').ngroup()

100%|██████████| 5883/5883 [04:33<00:00, 21.49it/s]

In [10]:
print('total number of sequence data sessions: ', len(selected_sequence.session.unique().tolist()))
print('total number of Sequence data windows: ', len(train_sequence.window_id.unique().tolist()) + len(test_sequence.window_id.unique().tolist()))
print('total number of context data sessions: ', len(context_data.session.unique().tolist()))
print('total number of context data windows: ', len(context_data.wind_id.unique().tolist()))
#dont be the bothered about the total number of windows.

total number of sequence data sessions:  1634
total number of Sequence data windows:  5883
total number of context data sessions:  1634
total number of context data windows:  5883

In [11]:
# testing_sessions = [16, 25]
# selected_sequence = selected_sequence[selected_sequence['session'].isin(testing_sessions)]
# training_sequence_context = training_sequence_context[training_sequence_context['session'].isin(testing_sessions)]

# window_id = 0
# if sequence_augmentation == True:
#     grouped_selected_sequence = selected_sequence.groupby('session')
#     augmented_frames = []
#     for session, selected_sequence_curr in tqdm(grouped_selected_sequence):
#         for i, row in selected_sequence_curr.iloc[::-1].iterrows():
#             context_filt_curr = training_sequence_context[
#                 (training_sequence_context['session'] == session) &
#                 (training_sequence_context['datetime'] < row['datetime'])].copy()
#             if not whole_session_context:
#                 context_filt_curr = context_filt_curr.tail(window)
#             context_filt_curr['window_id'] = window_id
#             # context_filt_curr['session'] = session
#             augmented_frames.append(context_filt_curr)
#             window_id += 1
#     training_sequence_context_augmented = pd.concat(augmented_frames, axis=0)
#     context_data = training_sequence_context_augmented.reset_index(drop=True)
# else:
#     # if sequence_augmentation is set to false
#     if not whole_session_context:
#         context_data = training_sequence_context.groupby('session').tail(window)
#     context_data = training_sequence_context.reset_index(drop=True)
#     context_data['window_id'] = context_data.groupby('session').ngroup()

In [13]:
dynamic_context = context_data[dynamic_context_var + ['window_id', 'session', 'datetime', 'wind_id']]
print('number of dynamic context session', len(dynamic_context[['window_id', 'session']].drop_duplicates()))

# function to pad first value to fit the window size
if pad_to_window_size:
    df = dynamic_context.copy()
    session_counts = df.groupby('wind_id').size()
    less_than_100 = session_counts[session_counts < window].index.tolist()
    print(f'Number of window with window length less than {window}: ', len(less_than_100))
    window100_dfs = df[~df['wind_id'].isin(less_than_100)]
    empty_df = []
    for window_id in tqdm(less_than_100):
        sub_df = df[df['wind_id'] == window_id]
        rows_to_pad = window - len(sub_df)
        min_datetime_row = sub_df.loc[sub_df['datetime'].idxmin()]
        pad_df = pd.DataFrame(min_datetime_row, df.columns).transpose()
        pad_df = pd.concat([pad_df] * int(rows_to_pad), ignore_index=True, axis=0)

        padded_df = pd.concat([pad_df, sub_df], axis=0).reset_index(drop=True)
        # padded_df['wind_id'] = window_id
        # padded_df['window_id'] = window_id
        # padded_df['wind_id'] = window_id
        empty_df.append(padded_df)
    if empty_df:
        df = pd.concat(empty_df, axis=0).reset_index(drop=True)
        df = pd.concat([df, window100_dfs], axis=0).sort_values(by=['window_id']).reset_index(drop=True)
        session_counts = df.groupby('window_id').size()
        less_than_100 = session_counts[session_counts < window].index.tolist()
        print(f'Number of window with window length less than {window}: ', len(less_than_100))
        dynamic_context = df

number of dynamic context session 5883
Number of window with window length less than 30:  48

100%|██████████| 48/48 [00:00<00:00, 152.64it/s]

Number of window with window length less than 30:  0

In [14]:
dense_static_context = context_data[dense_static_context_var + ['window_id', 'session', 'datetime', 'wind_id']]
dense_static_context = dense_static_context.sort_values(by=['wind_id','datetime'], ascending=False)
dense_static_context = dense_static_context.groupby('wind_id').first()
dense_static_context.reset_index(inplace=True)
dense_static_context = dense_static_context.sort_values(by='wind_id')
dense_static_context

,wind_id,distance_driven_benchmark,soc,time_second,window_id,session,datetime
0,0,2.0,48.55,3138.0,0,7.0,2022-09-07 21:00:51
1,1,49.0,56.65,3297.0,0,16.0,2022-09-09 18:43:10
2,2,44.0,58.10,2150.0,1,16.0,2022-09-09 18:24:03
3,3,18.0,63.50,846.0,2,16.0,2022-09-09 18:02:19
4,4,0.0,56.65,352.0,1,20.0,2022-09-10 17:15:06
...,...,...,...,...,...,...,...
5878,5878,23.0,56.30,891.0,1258,5387.0,2023-03-28 12:54:10
5879,5879,52.0,8.50,1846.0,4620,5388.0,2023-03-28 14:16:00
5880,5880,125.0,60.85,6216.0,4621,5389.0,2023-03-28 18:38:29
5881,5881,41.0,55.45,2391.0,4622,5399.0,2023-03-31 16:19:44
5882,5882,31.0,57.55,1705.0,4623,5399.0,2023-03-31 16:08:18

In [15]:
cat_static_context = context_data[cat_static_context_var + ['window_id', 'session', 'datetime', 'wind_id']]
cat_static_context = cat_static_context.groupby('wind_id').apply(lambda x: x.mode().iloc[0]).reset_index(drop=True)
if feat_engg:
    cat_static_context['season'], _ = pd.factorize(cat_static_context['season'])  

    status_static_context = context_data[status_static_context_var + ['window_id', 'session', 'datetime', 'wind_id']]
    for col in status_static_context_var:
        print(col)
        print(sorted(status_static_context[col].unique().tolist()))  
    for col in status_static_context_var:
        status_static_context[col], _ = pd.factorize(status_static_context[col])  
    status_static_context = status_static_context.sort_values(by=['session', 'datetime'])
    latest_indices = status_static_context.groupby('wind_id')['datetime'].idxmax()
    status_static_context_filt = status_static_context.loc[latest_indices]
    status_static_context = status_static_context_filt.reset_index(drop=True)

    static_context = pd.merge(cat_static_context, status_static_context, on=['wind_id', 'window_id', 'session'], how='inner')
else:
    static_context = cat_static_context
static_context = static_context.sort_values(by='wind_id')
print('number of windows', len(dynamic_context.wind_id.unique().tolist()), len(static_context.wind_id.unique().tolist()))
print('number of session', len(dynamic_context.session.unique().tolist()), len(static_context.session.unique().tolist()))
static_context

ess_status
[0, 1]
current_drive_mode
['car/driveMode/0.0', 'car/driveMode/1.0', 'car/driveMode/2.0', 'car/driveMode/3.0']
current_clima_mode
['clima/AC/ECO', 'clima/AC/off', 'clima/AC/on', 'unknown']
current_media_source
['media/selectedSource/Bluetooth', 'media/selectedSource/CarPlay', 'media/selectedSource/Favorite', 'media/selectedSource/Radio', 'media/selectedSource/unavailable']
nav_guidance_status
['navi_active', 'navi_inactive']
proximity_to_parking_spot
['no_parking_spot_closeby', 'parking_spot_closeby']
phone_status
['phone_connected', 'unconnected']
bluetooth_connected
['bluetooth_connected', 'bluetooth_unconnected']
phone_os
['Android', 'ios', 'unconnected', 'unknown']
new_bluetooth_device_to_pair
['new bluetooth device available', 'no bluetooth device to pair']

/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])
/var/folders/n8/1ntcg5gj7nvf5wh_s2w95yh80000gn/T/ipykernel_5798/3662061914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status_static_context[col], _ = pd.factorize(status_static_context[col])

number of windows 5883 5883
number of session 1634 1634

,car_id,month,weekday,hour,season,seatbelt_codriver,seatbelt_rear_l,seatbelt_rear_r,street_category,window_id,...,current_drive_mode,current_clima_mode,current_media_source,nav_guidance_status,proximity_to_parking_spot,phone_status,bluetooth_connected,phone_os,new_bluetooth_device_to_pair,datetime_y
0,1.0,9.0,2.0,21.0,0,1.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,2022-09-07 21:00:51
1,1.0,9.0,4.0,18.0,0,0.0,1.0,0.0,7.0,0.0,...,0,0,1,0,0,0,0,0,0,2022-09-09 18:43:10
2,1.0,9.0,4.0,18.0,0,0.0,1.0,0.0,7.0,1.0,...,0,0,2,0,0,0,0,0,0,2022-09-09 18:24:03
3,1.0,9.0,4.0,18.0,0,0.0,1.0,0.0,5.0,2.0,...,0,0,1,0,0,0,0,0,0,2022-09-09 18:02:19
4,1.0,9.0,5.0,17.0,0,0.0,1.0,0.0,1.0,1.0,...,0,0,0,0,0,0,1,1,0,2022-09-10 17:15:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5878,6.0,3.0,1.0,12.0,2,0.0,0.0,0.0,7.0,1258.0,...,0,0,0,1,0,1,1,0,0,2023-03-28 12:54:10
5879,6.0,3.0,1.0,14.0,2,0.0,0.0,0.0,5.0,4620.0,...,0,0,0,0,0,0,1,1,0,2023-03-28 14:16:00
5880,6.0,3.0,1.0,18.0,2,0.0,0.0,0.0,0.0,4621.0,...,0,0,1,0,0,1,1,0,0,2023-03-28 18:38:29
5881,6.0,3.0,4.0,16.0,2,1.0,1.0,1.0,1.0,4622.0,...,0,0,0,0,0,0,1,1,0,2023-03-31 16:19:44
5882,6.0,3.0,4.0,16.0,2,1.0,1.0,1.0,3.0,4623.0,...,0,0,0,0,0,0,1,1,0,2023-03-31 16:08:18

In [16]:
dynamic_context

,avg_irradiation,steering_speed,temperature_out,light_sensor_rear,light_sensor_front,temperature_in,KBI_speed,latitude,longitude,altitude,window_id,session,datetime,wind_id
0,0.0,0.0,20.5,3200.0,852.0,26.5,0.0,48.77182,9.208285,370.0,0,16.0,2022-09-09 18:42:54,1
1,0.0,0.0,20.5,3200.0,852.0,26.5,0.0,48.77182,9.208285,370.0,0,16.0,2022-09-09 18:43:06,1
2,0.0,0.0,20.5,3200.0,852.0,26.5,0.0,48.77182,9.208285,370.0,0,16.0,2022-09-09 18:43:08,1
3,0.0,0.0,20.5,3200.0,852.0,26.5,0.0,48.77182,9.208285,370.0,0,16.0,2022-09-09 18:43:08,1
4,0.0,0.0,20.5,3200.0,852.0,26.5,0.0,48.77182,9.208285,370.0,0,16.0,2022-09-09 18:43:10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176485,22.471532,4.263275,9.0,8400.0,3003.629013,27.5,100.8,48.56712,9.599351,742.0,4623,5399.0,2023-03-31 16:07:50,5882
176486,27.544422,0.0,9.0,8400.0,3055.250912,27.5,101.76,48.567258,9.59905,742.39033,4623,5399.0,2023-03-31 16:07:49,5882
176487,12.616554,40.0,9.0,6800.0,2124.0,27.5,49.132555,48.567049,9.605246,716.0,4623,5399.0,2023-03-31 16:08:17,5882
176488,30.0,21.446846,9.0,6800.0,2083.76882,27.5,74.88,48.566599,9.602786,730.0,4623,5399.0,2023-03-31 16:08:02,5882
176489,17.377345,5.0,9.0,7200.0,2133.091499,27.5,57.380453,48.566928,9.605233,716.0,4623,5399.0,2023-03-31 16:08:18,5882

In [17]:
static_context.columns

Index(['car_id', 'month', 'weekday', 'hour', 'season', 'seatbelt_codriver',
       'seatbelt_rear_l', 'seatbelt_rear_r', 'street_category', 'window_id',
       'session', 'datetime_x', 'wind_id', 'ess_status', 'current_drive_mode',
       'current_clima_mode', 'current_media_source', 'nav_guidance_status',
       'proximity_to_parking_spot', 'phone_status', 'bluetooth_connected',
       'phone_os', 'new_bluetooth_device_to_pair', 'datetime_y'],
      dtype='object')

In [18]:
dynamic_context.columns

Index(['avg_irradiation', 'steering_speed', 'temperature_out',
       'light_sensor_rear', 'light_sensor_front', 'temperature_in',
       'KBI_speed', 'latitude', 'longitude', 'altitude', 'window_id',
       'session', 'datetime', 'wind_id'],
      dtype='object')

In [19]:
dense_static_context.columns

Index(['wind_id', 'distance_driven_benchmark', 'soc', 'time_second',
       'window_id', 'session', 'datetime'],
      dtype='object')

In [20]:
dynamic_context = dynamic_context.sort_values(by=['wind_id', 'datetime'])
static_context = static_context.sort_values(by=['wind_id'])
dense_static_context = dense_static_context.sort_values(by=['wind_id', 'datetime'])
if feat_engg:
    static_context = static_context.drop(columns=['datetime_y', 'datetime_x'])
else:
    static_context = static_context.drop(columns=['datetime'])

# rearrage order of columns
columns = list(static_context.columns)
columns.remove('car_id')
columns.append('car_id')
static_context = static_context[columns]

dynamic_context = dynamic_context.drop(columns='wind_id')
static_context = static_context.drop(columns=['wind_id'])
dense_static_context = dense_static_context.drop(columns=['wind_id'])

train_dynamic_context = dynamic_context[dynamic_context['session'].isin(train_sessions)].reset_index(drop=True)
test_dynamic_context = dynamic_context[dynamic_context['session'].isin(test_sessions)].reset_index(drop=True)
train_static_context = static_context[static_context['session'].isin(train_sessions)].reset_index(drop=True)
test_static_context = static_context[static_context['session'].isin(test_sessions)].reset_index(drop=True)
train_dense_static_context = dense_static_context[dense_static_context['session'].isin(train_sessions)].reset_index(drop=True)
test_dense_static_context = dense_static_context[dense_static_context['session'].isin(test_sessions)].reset_index(drop=True)

print('number of session', len(train_dynamic_context.window_id.unique().tolist()), len(test_dynamic_context.window_id.unique().tolist()),
       len(train_static_context.window_id.unique().tolist()), len(test_static_context.window_id.unique().tolist()),
       len(train_dense_static_context.window_id.unique().tolist()), len(test_dense_static_context.window_id.unique().tolist()))

train_dynamic_context.to_csv(f'{base_path}{augmentation_folder}dynamic_context/unnormal/train.csv', index=False)
test_dynamic_context.to_csv(f'{base_path}{augmentation_folder}dynamic_context/unnormal/test.csv', index=False)

train_dense_static_context.to_csv(f'{base_path}{augmentation_folder}dense_static_context/unnormal/train.csv', index=False)
test_dense_static_context.to_csv(f'{base_path}{augmentation_folder}dense_static_context/unnormal/test.csv', index=False)

number of session 4624 1259 4624 1259 4624 1259

In [21]:
dynamic_context

,avg_irradiation,steering_speed,temperature_out,light_sensor_rear,light_sensor_front,temperature_in,KBI_speed,latitude,longitude,altitude,window_id,session,datetime
46,0.0,0.0,19.0,0.0,0.0,26.5,15.36,48.869488,8.811401,428.61365,0,7.0,2022-09-07 21:00:22
47,0.0,49.575946,19.0,0.0,0.0,26.5,16.32,48.869523,8.81142,428.0,0,7.0,2022-09-07 21:00:23
48,0.0,80.0,19.0,0.0,0.0,26.5,17.92,48.869562,8.811429,428.0,0,7.0,2022-09-07 21:00:24
49,0.0,15.58862,19.0,0.0,0.0,26.5,19.84,48.869606,8.811401,428.0,0,7.0,2022-09-07 21:00:25
50,0.0,36.317163,19.0,0.0,0.0,26.5,21.76,48.86965,8.811371,428.0,0,7.0,2022-09-07 21:00:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176469,30.0,0.0,9.0,5600.0,876.0,27.5,39.04,48.567284,9.605088,718.0,4623,5399.0,2023-03-31 16:08:14
176470,30.0,0.0,9.0,5629.085099,1026.544147,27.5,40.804305,48.567269,9.605212,718.0,4623,5399.0,2023-03-31 16:08:15
176465,22.610694,102.026156,9.0,6370.064358,1773.267177,27.5,42.984007,48.567157,9.605245,716.391266,4623,5399.0,2023-03-31 16:08:16
176487,12.616554,40.0,9.0,6800.0,2124.0,27.5,49.132555,48.567049,9.605246,716.0,4623,5399.0,2023-03-31 16:08:17
176489,17.377345,5.0,9.0,7200.0,2133.091499,27.5,57.380453,48.566928,9.605233,716.0,4623,5399.0,2023-03-31 16:08:18

In [21]:
# for column in dynamic_context.columns:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(dynamic_context[column], bins=20, color='skyblue', edgecolor='black', label='Dynamic', stat='percent')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Percentage')
#     plt.legend()
#     plt.grid(True)
#     plt.show()

# #distance_driven_benchmark is unevenly distributed hence use from sklearn.preprocessing import RobustScaler. 
# #It scales features using statistics that are robust to outliers. This will scale the column while taking into account the presence of outliers.

In [22]:
# for column in dense_static_context.columns:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(dense_static_context[column], bins=20, color='skyblue', edgecolor='black', label='dense static', stat='percent')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Percentage')
#     plt.legend()
#     plt.grid(True)
#     plt.show()

In [23]:
# #Normalisation
# dynamic_context_to_normalize = [col for col in train_dynamic_context.columns if col not in ['window_id', 'wind_id', 'session_ids', 'datetime', 'session_id', 'session']]
# scaler_dynamic_context = RobustScaler(unit_variance=True)
# scaler_dynamic_context.fit(train_dynamic_context[dynamic_context_to_normalize])
# train_dc = scaler_dynamic_context.transform(train_dynamic_context[dynamic_context_to_normalize])
# test_dc  = scaler_dynamic_context.transform(test_dynamic_context[dynamic_context_to_normalize])

# scaler_dense_static_context = RobustScaler(unit_variance=True)
# dense_static_context_to_normalize = [col for col in train_dense_static_context.columns if col not in ['window_id', 'wind_id', 'session_ids', 'datetime', 'session_id', 'session']]
# scaler_dense_static_context.fit(train_dense_static_context[dense_static_context_to_normalize])
# train_sdc = scaler_dense_static_context.transform(train_dense_static_context[dense_static_context_to_normalize])
# test_sdc = scaler_dense_static_context.transform(test_dense_static_context[dense_static_context_to_normalize])

# train_dc = pd.DataFrame(train_dc, columns=['avg_irradiation', 'steering_speed', 'temperature_out',
#        'light_sensor_rear', 'light_sensor_front', 'temperature_in',
#        'KBI_speed', 'latitude', 'longitude', 'altitude'])
# test_dc = pd.DataFrame(test_dc, columns=['avg_irradiation', 'steering_speed', 'temperature_out',
#        'light_sensor_rear', 'light_sensor_front', 'temperature_in',
#        'KBI_speed', 'latitude', 'longitude', 'altitude'])
# train_sdc = pd.DataFrame(train_sdc, columns=['distance_driven_benchmark', 'soc', 'time_second'])
# test_sdc = pd.DataFrame(test_sdc, columns=['distance_driven_benchmark', 'soc', 'time_second'])

In [24]:
# for column in test_dc.columns:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(test_dc[column], bins=20, color='skyblue', edgecolor='black', label='Test Data', stat='percent')
#     sns.histplot(train_dc[column], bins=20, color='salmon', edgecolor='black', label='Train Data', stat='percent')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Percentage')
#     plt.legend()
#     plt.grid(True)
#     plt.show()

In [25]:
# for column in test_sdc.columns:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(test_sdc[column], bins=20, color='skyblue', edgecolor='black', label='Test Data', stat='percent')
#     sns.histplot(train_sdc[column], bins=20, color='salmon', edgecolor='black', label='Train Data', stat='percent')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Percentage')
#     plt.legend()
#     plt.grid(True)
#     plt.show()

In [26]:
# #Normalisation
# dynamic_context_to_normalize = [col for col in train_dynamic_context.columns if col not in ['window_id', 'wind_id', 'session_ids', 'datetime', 'session_id', 'session']]
# scaler_dynamic_context = MinMaxScaler()
# scaler_dynamic_context.fit(train_dynamic_context[dynamic_context_to_normalize])
# train_dc = scaler_dynamic_context.transform(train_dynamic_context[dynamic_context_to_normalize])
# test_dc  = scaler_dynamic_context.transform(test_dynamic_context[dynamic_context_to_normalize])

# scaler_dense_static_context = MinMaxScaler()
# dense_static_context_to_normalize = [col for col in train_dense_static_context.columns if col not in ['window_id', 'wind_id', 'session_ids', 'datetime', 'session_id', 'session']]
# scaler_dense_static_context.fit(train_dense_static_context[dense_static_context_to_normalize])
# train_sdc = scaler_dense_static_context.transform(train_dense_static_context[dense_static_context_to_normalize])
# test_sdc = scaler_dense_static_context.transform(test_dense_static_context[dense_static_context_to_normalize])

# train_dc = pd.DataFrame(train_dc, columns=['avg_irradiation', 'steering_speed', 'temperature_out',
#        'light_sensor_rear', 'light_sensor_front', 'temperature_in',
#        'KBI_speed', 'latitude', 'longitude', 'altitude'])
# test_dc = pd.DataFrame(test_dc, columns=['avg_irradiation', 'steering_speed', 'temperature_out',
#        'light_sensor_rear', 'light_sensor_front', 'temperature_in',
#        'KBI_speed', 'latitude', 'longitude', 'altitude'])
# train_sdc = pd.DataFrame(train_sdc, columns=['distance_driven_benchmark', 'soc', 'time_second'])
# test_sdc = pd.DataFrame(test_sdc, columns=['distance_driven_benchmark', 'soc', 'time_second'])

In [27]:
# for column in test_dc.columns:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(test_dc[column], bins=20, color='skyblue', edgecolor='black', label='Test Data', stat='percent')
#     sns.histplot(train_dc[column], bins=20, color='salmon', edgecolor='black', label='Train Data', stat='percent')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Percentage')
#     plt.legend()
#     plt.grid(True)
#     plt.show()

In [28]:
# for column in test_sdc.columns:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(test_sdc[column], bins=20, color='skyblue', edgecolor='black', label='Test Data', stat='percent')
#     sns.histplot(train_sdc[column], bins=20, color='salmon', edgecolor='black', label='Train Data', stat='percent')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Percentage')
#     plt.legend()
#     plt.grid(True)
#     plt.show()

In [29]:
# #Normalisation
# dynamic_context_to_normalize = [col for col in train_dynamic_context.columns if col not in ['window_id', 'wind_id', 'session_ids', 'datetime', 'session_id', 'session']]
# scaler_dynamic_context = StandardScaler()
# scaler_dynamic_context.fit(train_dynamic_context[dynamic_context_to_normalize])
# train_dc = scaler_dynamic_context.transform(train_dynamic_context[dynamic_context_to_normalize])
# test_dc  = scaler_dynamic_context.transform(test_dynamic_context[dynamic_context_to_normalize])

# scaler_dense_static_context = StandardScaler()
# dense_static_context_to_normalize = [col for col in train_dense_static_context.columns if col not in ['window_id', 'wind_id', 'session_ids', 'datetime', 'session_id', 'session']]
# scaler_dense_static_context.fit(train_dense_static_context[dense_static_context_to_normalize])
# train_sdc = scaler_dense_static_context.transform(train_dense_static_context[dense_static_context_to_normalize])
# test_sdc = scaler_dense_static_context.transform(test_dense_static_context[dense_static_context_to_normalize])

# train_dc = pd.DataFrame(train_dc, columns=['avg_irradiation', 'steering_speed', 'temperature_out',
#        'light_sensor_rear', 'light_sensor_front', 'temperature_in',
#        'KBI_speed', 'latitude', 'longitude', 'altitude'])
# test_dc = pd.DataFrame(test_dc, columns=['avg_irradiation', 'steering_speed', 'temperature_out',
#        'light_sensor_rear', 'light_sensor_front', 'temperature_in',
#        'KBI_speed', 'latitude', 'longitude', 'altitude'])
# train_sdc = pd.DataFrame(train_sdc, columns=['distance_driven_benchmark', 'soc', 'time_second'])
# test_sdc = pd.DataFrame(test_sdc, columns=['distance_driven_benchmark', 'soc', 'time_second'])

In [30]:
# for column in test_dc.columns:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(test_dc[column], bins=20, color='skyblue', edgecolor='black', label='Test Data', stat='percent')
#     sns.histplot(train_dc[column], bins=20, color='salmon', edgecolor='black', label='Train Data', stat='percent')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Percentage')
#     plt.legend()
#     plt.grid(True)
#     plt.show()

In [31]:
# for column in test_sdc.columns:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(test_sdc[column], bins=20, color='skyblue', edgecolor='black', label='Test Data', stat='percent')
#     sns.histplot(train_sdc[column], bins=20, color='salmon', edgecolor='black', label='Train Data', stat='percent')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Percentage')
#     plt.legend()
#     plt.grid(True)
#     plt.show()

In [22]:
#Normalisation
dynamic_context_to_normalize = [col for col in train_dynamic_context.columns if col not in ['window_id', 'wind_id', 'session_ids', 'datetime', 'session_id', 'session']]
scaler_dynamic_context = RobustScaler()
scaler_dynamic_context.fit(train_dynamic_context[dynamic_context_to_normalize])
train_dynamic_context[dynamic_context_to_normalize] = scaler_dynamic_context.transform(train_dynamic_context[dynamic_context_to_normalize])
test_dynamic_context[dynamic_context_to_normalize] = scaler_dynamic_context.transform(test_dynamic_context[dynamic_context_to_normalize])

#Robust scaler is used to account for the outlier in the data which make it non uniformly distributed
scaler_dense_static_context = RobustScaler()
scaler_dense_static_context.fit(train_dense_static_context[dense_static_context_var])
train_dense_static_context[dense_static_context_var] = scaler_dense_static_context.transform(train_dense_static_context[dense_static_context_var])
test_dense_static_context[dense_static_context_var] = scaler_dense_static_context.transform(test_dense_static_context[dense_static_context_var])

train_dynamic_context.to_csv(train_dynamic_context_path, index=False)
test_dynamic_context.to_csv(test_dynamic_context_path, index=False)

train_static_context.to_csv(train_static_context_path, index=False)
test_static_context.to_csv(test_static_context_path, index=False)

train_dense_static_context.to_csv(train_dense_static_context_path, index=False)
test_dense_static_context.to_csv(test_dense_static_context_path, index=False)

In [33]:
# for column in train_dynamic_context.columns:
#     print(column)
#     plt.figure(figsize=(8, 6))
#     sns.histplot(train_dynamic_context[column], bins=20, color='skyblue', edgecolor='black')
#     plt.title(f'Histogram of {column}')
#     plt.xlabel(column)
#     plt.ylabel('Frequency')
#     plt.grid(True) 
#     plt.show()

In [23]:
test_dense_static_context

,distance_driven_benchmark,soc,time_second,window_id,session,datetime
0,0.333333,-0.294321,0.111120,0,16.0,2022-09-09 18:43:10
1,0.277778,-0.254155,-0.081701,1,16.0,2022-09-09 18:24:03
2,-0.011111,-0.104571,-0.300916,2,16.0,2022-09-09 18:02:19
3,-0.144444,-0.471607,-0.281247,3,42.0,2022-09-15 09:43:45
4,-0.144444,-0.266620,-0.223754,4,76.0,2022-09-25 12:00:20
...,...,...,...,...,...,...
1254,0.555556,-0.045014,0.218374,1254,5346.0,2023-03-16 09:25:17
1255,0.533333,-0.028393,0.210137,1255,5346.0,2023-03-16 09:24:28
1256,-0.022222,0.423130,-0.021014,1256,5346.0,2023-03-16 09:01:33
1257,-0.122222,0.503463,-0.066235,1257,5346.0,2023-03-16 08:57:04
1258,0.044444,-0.304017,-0.293351,1258,5387.0,2023-03-28 12:54:10

In [24]:
test_static_context

,month,weekday,hour,season,seatbelt_codriver,seatbelt_rear_l,seatbelt_rear_r,street_category,window_id,session,...,current_drive_mode,current_clima_mode,current_media_source,nav_guidance_status,proximity_to_parking_spot,phone_status,bluetooth_connected,phone_os,new_bluetooth_device_to_pair,car_id
0,9.0,4.0,18.0,0,0.0,1.0,0.0,7.0,0.0,16.0,...,0,0,1,0,0,0,0,0,0,1.0
1,9.0,4.0,18.0,0,0.0,1.0,0.0,7.0,1.0,16.0,...,0,0,2,0,0,0,0,0,0,1.0
2,9.0,4.0,18.0,0,0.0,1.0,0.0,5.0,2.0,16.0,...,0,0,1,0,0,0,0,0,0,1.0
3,9.0,3.0,9.0,0,0.0,0.0,0.0,7.0,3.0,42.0,...,0,0,0,0,0,0,1,1,0,1.0
4,9.0,6.0,12.0,0,1.0,1.0,1.0,2.0,4.0,76.0,...,1,0,0,0,0,0,1,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,3.0,3.0,9.0,2,0.0,0.0,0.0,5.0,1254.0,5346.0,...,0,0,0,1,0,0,1,1,0,6.0
1255,3.0,3.0,9.0,2,0.0,0.0,0.0,5.0,1255.0,5346.0,...,0,0,0,1,0,0,1,1,0,6.0
1256,3.0,3.0,9.0,2,0.0,0.0,0.0,7.0,1256.0,5346.0,...,1,0,0,1,0,0,1,1,0,6.0
1257,3.0,3.0,8.0,2,0.0,0.0,0.0,5.0,1257.0,5346.0,...,0,0,0,1,0,0,1,1,0,6.0
1258,3.0,1.0,12.0,2,0.0,0.0,0.0,7.0,1258.0,5387.0,...,0,0,0,1,0,1,1,0,0,6.0

In [25]:
test_dynamic_context

,avg_irradiation,steering_speed,temperature_out,light_sensor_rear,light_sensor_front,temperature_in,KBI_speed,latitude,longitude,altitude,window_id,session,datetime
0,0.000000,0.000000,0.954545,0.038462,-0.055607,0.333333,-0.263595,-0.031341,0.095810,-0.043378,0,16.0,2022-09-09 18:42:40
1,0.000000,0.000000,0.954545,0.038462,-0.055607,0.333333,-0.263595,-0.031341,0.095810,-0.043378,0,16.0,2022-09-09 18:42:41
2,0.000000,0.000000,0.954545,0.038462,-0.055607,0.333333,-0.263595,-0.031341,0.095810,-0.043378,0,16.0,2022-09-09 18:42:42
3,0.000000,0.000000,0.954545,0.038462,-0.055607,0.333333,-0.263595,-0.031341,0.095810,-0.043378,0,16.0,2022-09-09 18:42:43
4,0.000000,0.000000,0.954545,0.038462,-0.055607,0.333333,-0.263595,-0.031341,0.095810,-0.043378,0,16.0,2022-09-09 18:42:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37765,8.694648,0.000000,-0.136364,2.730769,1.212176,0.333333,1.542190,0.056125,-0.074550,-0.225564,1258,5387.0,2023-03-28 12:54:06
37766,8.862483,0.000000,-0.136364,2.730769,1.212176,0.333333,1.542190,0.056621,-0.074208,-0.227739,1258,5387.0,2023-03-28 12:54:07
37767,8.551646,0.654591,-0.136364,2.769231,1.212176,0.333333,1.546322,0.057119,-0.073865,-0.234239,1258,5387.0,2023-03-28 12:54:08
37768,8.410316,0.000000,-0.136364,2.730769,1.212176,0.333333,1.546322,0.057615,-0.073520,-0.236415,1258,5387.0,2023-03-28 12:54:09
37769,8.104205,0.000000,-0.136364,2.695583,1.212176,0.333333,1.546322,0.058109,-0.073174,-0.242915,1258,5387.0,2023-03-28 12:54:10

In [26]:
train_static_context

,month,weekday,hour,season,seatbelt_codriver,seatbelt_rear_l,seatbelt_rear_r,street_category,window_id,session,...,current_drive_mode,current_clima_mode,current_media_source,nav_guidance_status,proximity_to_parking_spot,phone_status,bluetooth_connected,phone_os,new_bluetooth_device_to_pair,car_id
0,9.0,2.0,21.0,0,1.0,1.0,0.0,1.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,1.0
1,9.0,5.0,17.0,0,0.0,1.0,0.0,1.0,1.0,20.0,...,0,0,0,0,0,0,1,1,0,1.0
2,9.0,6.0,10.0,0,1.0,1.0,1.0,1.0,2.0,25.0,...,0,0,3,0,0,0,1,1,0,1.0
3,9.0,6.0,12.0,0,1.0,1.0,1.0,7.0,3.0,27.0,...,0,0,0,0,0,0,0,0,0,1.0
4,9.0,0.0,17.0,0,0.0,0.0,0.0,0.0,4.0,33.0,...,0,0,0,0,0,0,1,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4619,3.0,1.0,10.0,2,0.0,0.0,0.0,7.0,4619.0,5386.0,...,0,0,0,0,0,0,1,1,0,6.0
4620,3.0,1.0,14.0,2,0.0,0.0,0.0,5.0,4620.0,5388.0,...,0,0,0,0,0,0,1,1,0,6.0
4621,3.0,1.0,18.0,2,0.0,0.0,0.0,0.0,4621.0,5389.0,...,0,0,1,0,0,1,1,0,0,6.0
4622,3.0,4.0,16.0,2,1.0,1.0,1.0,1.0,4622.0,5399.0,...,0,0,0,0,0,0,1,1,0,6.0
4623,3.0,4.0,16.0,2,1.0,1.0,1.0,3.0,4623.0,5399.0,...,0,0,0,0,0,0,1,1,0,6.0

In [38]:
train_dense_static_context

,distance_driven_benchmark,soc,time_second,window_id,session,datetime
0,-0.188889,-0.518698,0.084391,0,7.0,2022-09-07 21:00:51
1,-0.211111,-0.294321,-0.383962,1,20.0,2022-09-10 17:15:06
2,-0.211111,-0.378809,-0.423636,2,25.0,2022-09-11 10:28:01
3,-0.211111,-0.385734,-0.432378,3,27.0,2022-09-11 12:26:02
4,-0.200000,0.676593,-0.412709,4,33.0,2022-09-12 17:09:43
...,...,...,...,...,...,...
4619,-0.211111,0.220914,-0.251492,4619,5386.0,2023-03-28 10:10:12
4620,0.366667,-1.628116,-0.132807,4620,5388.0,2023-03-28 14:16:00
4621,1.177778,-0.177978,0.601832,4621,5389.0,2023-03-28 18:38:29
4622,0.244444,-0.327562,-0.041187,4622,5399.0,2023-03-31 16:19:44
4623,0.133333,-0.269391,-0.156510,4623,5399.0,2023-03-31 16:08:18

In [27]:
train_dynamic_context

,avg_irradiation,steering_speed,temperature_out,light_sensor_rear,light_sensor_front,temperature_in,KBI_speed,latitude,longitude,altitude,window_id,session,datetime
0,0.000000,0.000000,0.818182,-0.269231,-0.250430,0.333333,-0.065248,0.134238,-0.427975,0.210874,0,7.0,2022-09-07 21:00:22
1,0.000000,11.177055,0.818182,-0.269231,-0.250430,0.333333,-0.052851,0.134297,-0.427950,0.208213,0,7.0,2022-09-07 21:00:23
2,0.000000,18.036255,0.818182,-0.269231,-0.250430,0.333333,-0.032190,0.134365,-0.427937,0.208213,0,7.0,2022-09-07 21:00:24
3,0.000000,3.514504,0.818182,-0.269231,-0.250430,0.333333,-0.007397,0.134438,-0.427974,0.208213,0,7.0,2022-09-07 21:00:25
4,0.000000,8.187820,0.818182,-0.269231,-0.250430,0.333333,0.017397,0.134513,-0.428014,0.208213,0,7.0,2022-09-07 21:00:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138715,0.900467,0.000000,-0.090909,0.269231,-0.041282,0.466667,0.240537,-0.378098,0.619488,1.466164,4623,5399.0,2023-03-31 16:08:14
138716,0.900467,0.000000,-0.090909,0.272027,-0.005339,0.466667,0.263320,-0.378124,0.619651,1.466164,4623,5399.0,2023-03-31 16:08:15
138717,0.678673,23.002122,-0.090909,0.343275,0.172944,0.466667,0.291467,-0.378314,0.619696,1.459185,4623,5399.0,2023-03-31 16:08:16
138718,0.378693,9.018127,-0.090909,0.384615,0.256683,0.466667,0.370865,-0.378497,0.619696,1.457488,4623,5399.0,2023-03-31 16:08:17
138719,0.521591,1.127266,-0.090909,0.423077,0.258854,0.466667,0.477372,-0.378702,0.619679,1.457488,4623,5399.0,2023-03-31 16:08:18

In [28]:
def session_window_mapping(df):
    session_window_dict = {}

    for index, row in df.iterrows():
        session = int(row['session'])
        window_id = int(row['window_id'])
        
        # If the session is not already in the dictionary, initialize an empty set
        if session not in session_window_dict:
            session_window_dict[session] = set()
        
        # Add the window_id to the set corresponding to the session
        session_window_dict[session].add(window_id)

    # Convert sets to lists in the resulting dictionary
    session_window_dict = {session: list(window_ids) for session, window_ids in session_window_dict.items()}
    return session_window_dict

train_session_win_id_mapping_dc = session_window_mapping(train_dynamic_context)
test_session_win_id_mapping_dc = session_window_mapping(test_dynamic_context)
train_session_win_id_mapping_sc = session_window_mapping(train_static_context)
test_session_win_id_mapping_sc = session_window_mapping(test_static_context)
train_session_win_id_mapping_dsc = session_window_mapping(train_dense_static_context)
test_session_win_id_mapping_dsc = session_window_mapping(test_dense_static_context)

with open(os.path.join(parameter_path, 'session_win_id_mapping.pkl'), 'rb') as pickle_file:
    train_session_win_id_mapping = pickle.load(pickle_file)
    test_session_win_id_mapping = pickle.load(pickle_file)

In [29]:
print(len(train_session_win_id_mapping_dc), len(train_session_win_id_mapping_sc),  len(train_session_win_id_mapping_dsc), len(train_session_win_id_mapping))

1308 1308 1308 1308

In [30]:
if train_session_win_id_mapping_dc == train_session_win_id_mapping_sc == train_session_win_id_mapping == train_session_win_id_mapping_dsc:
    print("All training data mapping are exactly identical.")
if test_session_win_id_mapping_dc == test_session_win_id_mapping_sc == test_session_win_id_mapping == test_session_win_id_mapping_dsc:
    print("All testing data mapping are exactly identical.")

All training data mapping are exactly identical.
All testing data mapping are exactly identical.

In [31]:
print(len(train_dynamic_context.session.unique().tolist()), len(test_dynamic_context.session.unique().tolist()))
print(len(train_dynamic_context.window_id.unique().tolist()), len(test_dynamic_context.window_id.unique().tolist()))
print(len(train_static_context.session.unique().tolist()), len(test_static_context.session.unique().tolist()))
print(len(train_static_context.window_id.unique().tolist()), len(test_static_context.window_id.unique().tolist()))
print(len(train_dense_static_context.session.unique().tolist()), len(test_dense_static_context.session.unique().tolist()))
print(len(train_dense_static_context.window_id.unique().tolist()), len(test_dense_static_context.window_id.unique().tolist()))

1308 326
4624 1259
1308 326
4624 1259
1308 326
4624 1259